<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Запрос на бенефит</title>
</head>
<body style="font-family: Arial, sans-serif; background-color: #f4f4f4; color: #333; margin: 0; padding: 0;">
    <div style="width: 100%; max-width: 600px; margin: 0 auto; margin-top: 30px; background-color: #ffffff; padding: 20px; border: 1px solid #e0e0e0; border-radius: 5px; text-align: center;">
        <div style="margin: 20px 0;">
            <img src="https://digital-portfolio.hb.ru-msk.vkcloud-storage.ru/logo.png" alt="Логотип компании" style="max-width: 150px;">
        </div>

        <div style="font-size: 24px; font-weight: bold; color: #00C08B;">{{ product }}</div>

        <div style="padding: 20px; line-height: 1.6;">
            <p style="margin: 10px 0;">Здравствуйте, {{ name }}!</p>
            <p style="margin: 10px 0;">Мы рады сообщить, что ваш запрос на получение льготы успешно оформлен. Вот краткая информация о выбранном бенефите:</p>

            <!-- Блок карточки бенефита -->
            <div style="border: 1px solid #e0e0e0; border-radius: 5px; padding: 15px; margin: 20px auto; text-align: left; width: 65%; overflow: hidden; position: relative;">
                <img src="{{ benefit_image }}" alt="Изображение бенефита" style="width: 100%; max-width: 100px; float: left; margin-right: 15px; border-radius: 5px;">
                <div>
                    <p style="font-size: 18px; font-weight: bold; margin: 0; color: #333;">{{ benefit_name }}</p>
                    <p style="color: #00C08B; font-size: 24px; font-weight: bold; margin-top: 5px;">{{ benefit_price }}</p>
                </div>
                <!-- Кнопка "Перейти" с иконкой справа -->
                <a href="{{ benefit_url }}" style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); padding: 8px 12px; background-color: #00C08B; color: #ffffff; text-decoration: none; border-radius: 5px; display: inline-flex; align-items: center; justify-content: center; font-size: 14px;">
                    ➔
                </a>
            </div>

            <p style="margin: 10px 0;">Вы можете отслеживать статус вашего запроса через личный кабинет или связаться с HR для получения дополнительной информации.</p>
            <p style="margin: 10px 0;">Если у вас есть вопросы, не стесняйтесь обращаться в службу поддержки.</p>
            <a href="{{ requests_url }}" style="display: inline-block; padding: 10px 20px; background-color: #00C08B; color: #ffffff; text-decoration: none; border-radius: 5px; margin-top: 20px; margin-bottom: 20px; transition: background-color 0.3s ease;">Перейти в личный кабинет</a>
            <p style="margin: 10px 0;">Спасибо, что пользуетесь нашим корпоративным кафетерием льгот!</p>
        </div>
    </div>
</body>
</html>
