<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Статус запроса на бенефит</title>
</head>
<body style="font-family: Arial, sans-serif; background-color: #f4f4f4; color: #333; margin: 0; padding: 0;">
    <div style="width: 100%; max-width: 600px; margin: 0 auto; margin-top: 30px; background-color: #ffffff; padding: 20px; border: 1px solid #e0e0e0; border-radius: 5px; text-align: center;">
        <div style="margin: 20px 0;">
            <img src="https://digital-portfolio.hb.ru-msk.vkcloud-storage.ru/logo.png" alt="Логотип компании" style="max-width: 150px;">
        </div>

        {% if request_status == 'approved' %}
            <div style="font-size: 24px; font-weight: bold; color: #00C08B; margin-bottom: 20px;">Ваш запрос на бенефит принят!</div>
            <div style="padding: 20px; line-height: 1.6;">
                <p style="margin: 10px 0;">Здравствуйте, {{ name }}!</p>
                <p style="margin: 10px 0;">Мы рады сообщить, что ваш запрос на получение льготы <strong style="color: #00C08B;">успешно одобрен</strong>! Пожалуйста, ознакомьтесь с деталями ниже.</p>

                <div style="display: flex; justify-content: space-between; border: 1px solid #e0e0e0; border-radius: 5px; padding: 15px; margin: 20px auto; text-align: left; width: 65%; overflow: hidden; position: relative;">
                <div style="display: flex;">
                   <img src="{{ benefit_image }}" alt="Изображение бенефита" style="width: 100%; max-width: 100px; float: left; margin-right: 15px; border-radius: 5px;">
                    <div>
                        <p style="font-size: 18px; font-weight: bold; margin: 0; color: #333;">{{ benefit_name }}</p>
                        <p style="color: #00C08B; font-size: 24px; font-weight: bold; margin-top: 5px;">{{ benefit_price }}</p>
                    </div>
                </div>
                <a href="{{ benefit_url }}" style="height: 50%; margin: auto 10px; padding: 8px 12px; background-color: #00C08B; color: #ffffff; text-decoration: none; border-radius: 5px; display: inline-flex; align-items: center; justify-content: center; font-size: 14px;">
                    ➔
                </a>
            </div>
                <a href="{{ requests_url }}" style="display: inline-block; padding: 10px 20px; background-color: #00C08B; color: #ffffff; text-decoration: none; border-radius: 5px; margin-top: 20px; transition: background-color 0.3s ease;">Перейти в личный кабинет</a>
            </div>
        {% else %}
            <div style="font-size: 24px; font-weight: bold; color: #D9534F; margin-bottom: 20px;">Ваш запрос на бенефит отклонён</div>
            <div style="padding: 20px; line-height: 1.6;">
                <p style="margin: 10px 0;">Здравствуйте, {{ name }}!</p>
                <p style="margin: 10px 0;">К сожалению, ваш запрос на получение льготы <strong style="color: #D9534F;">был отклонён</strong>. Вы можете выбрать другой бенефит или связаться с HR для получения дополнительной информации.</p>

                <div style="display: flex; justify-content: space-between; border: 1px solid #e0e0e0; border-radius: 5px; padding: 15px; margin: 20px auto; text-align: left; width: 65%; overflow: hidden; position: relative;">
                <div style="display: flex;">
                   <img src="{{ benefit_image }}" alt="Изображение бенефита" style="width: 100%; max-width: 100px; float: left; margin-right: 15px; border-radius: 5px;">
                    <div>
                        <p style="font-size: 18px; font-weight: bold; margin: 0; color: #333;">{{ benefit_name }}</p>
                        <p style="color: #00C08B; font-size: 24px; font-weight: bold; margin-top: 5px;">{{ benefit_price }}</p>
                    </div>
                </div>
                <a href="{{ benefit_url }}" style="height: 50%; margin: auto 10px; padding: 8px 12px; background-color: #00C08B; color: #ffffff; text-decoration: none; border-radius: 5px; display: inline-flex; align-items: center; justify-content: center; font-size: 14px;">
                    ➔
                </a>
            </div>
                <a href="{{ requests_url }}" style="display: inline-block; padding: 10px 20px; background-color: #00C08B; color: #ffffff; text-decoration: none; border-radius: 5px; margin-top: 20px; transition: background-color 0.3s ease;">Перейти в личный кабинет</a>
            </div>
        {% endif %}
    </div>
</body>
</html>
